@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FDB913;
  --color-primary-dark: #EA9E00;
  --color-primary-light: #FECA57;
  --color-secondary: #1F2937;
  --color-secondary-light: #374151;

  --font-sans: Prompt, system-ui, sans-serif;
}